[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".vim/pack/git-plugins/opt/VimYouCompleteMe"]
	path = .vim/pack/git-plugins/opt/VimYouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/pack/git-plugins/opt/undotree"]
	path = .vim/pack/git-plugins/opt/undotree
	url = git@github.com:mbbill/undotree.git
[submodule ".vim/pack/git-plugins/opt/vcscommand"]
	path = .vim/pack/git-plugins/opt/vcscommand
	url = git@github.com:vim-scripts/vcscommand.vim.git
[submodule ".vim/pack/git-plugins/opt/vimautoctags"]
	path = .vim/pack/git-plugins/opt/vimautoctags
	url = git@github.com:ytsuyuzaki/auto-ctags.vim.git
[submodule ".vim/pack/git-plugins/opt/vimvc"]
	path = .vim/pack/git-plugins/opt/vimvc
	url = git@github.com:juneedahamed/vc.vim.git
[submodule ".vim/pack/git-plugins/opt/spellCheck"]
	path = .vim/pack/git-plugins/opt/spellCheck
	url = https://github.com/inkarkat/vim-SpellCheck.git
[submodule ".vim/pack/git-plugins/opt/vimopenbrowser"]
	path = .vim/pack/git-plugins/opt/vimopenbrowser
	url = https://github.com/tyru/open-browser.vim.git
[submodule ".vim/pack/git-plugins/opt/vimplantumlsyntax"]
	path = .vim/pack/git-plugins/opt/vimplantumlsyntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/pack/git-plugins/opt/vimplantumlpreviewer"]
	path = .vim/pack/git-plugins/opt/vimplantumlpreviewer
	url = https://github.com/weirongxu/plantuml-previewer.vim.git
[submodule ".vim/pack/git-plugins/opt/vimautotag"]
	path = .vim/pack/git-plugins/opt/vimautotag
	url = https://github.com/craigemery/vim-autotag.git
