[submodule ".vim/pack/git-plugins/start/vim-airline"]
	path = .vim/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/git-plugins/start/nerdtree"]
	path = .vim/pack/git-plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/git-plugins/start/vim-c-cpp-modern"]
	path = .vim/pack/git-plugins/start/vim-c-cpp-modern
	url = https://github.com/bfrg/vim-c-cpp-modern.git
[submodule ".vim/pack/git-plugins/start/vim-devicons"]
	path = .vim/pack/git-plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/git-plugins/start/vim-nerdtree-syntax-highlight"]
	path = .vim/pack/git-plugins/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".vim/pack/git-plugins/start/taglist"]
	path = .vim/pack/git-plugins/start/taglist
	url = https://github.com/yegappan/taglist.git
