[submodule ".vim/pack/git-plugins/start/vim-airline"]
	path = .vim/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/git-plugins/start/nerdtree"]
	path = .vim/pack/git-plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/git-plugins/start/vim-c-cpp-modern"]
	path = .vim/pack/git-plugins/start/vim-c-cpp-modern
	url = https://github.com/bfrg/vim-c-cpp-modern.git
[submodule ".vim/pack/git-plugins/start/vim-nerdtree-syntax-highlight"]
	path = .vim/pack/git-plugins/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".vim/pack/git-plugins/start/taglist"]
	path = .vim/pack/git-plugins/start/taglist
	url = https://github.com/yegappan/taglist.git
[submodule ".vim/pack/git-plugins/start/vim-unimpaired"]
	path = .vim/pack/git-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/git-plugins/start/vim-vinegar"]
	path = .vim/pack/git-plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/pack/git-plugins/start/vim-ctrlp"]
	path = .vim/pack/git-plugins/start/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/git-plugins/start/vim-ack"]
	path = .vim/pack/git-plugins/start/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/git-plugins/start/vim-easymotion"]
	path = .vim/pack/git-plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/pack/git-plugins/opt/VimYouCompleteMe"]
	path = .vim/pack/git-plugins/opt/VimYouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/pack/git-plugins/start/vim-fugitive"]
	path = .vim/pack/git-plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/git-plugins/opt/undotree"]
	path = .vim/pack/git-plugins/opt/undotree
	url = git@github.com:mbbill/undotree.git
[submodule ".vim/pack/git-plugins/opt/vcscommand"]
	path = .vim/pack/git-plugins/opt/vcscommand
	url = git@github.com:vim-scripts/vcscommand.vim.git
[submodule ".vim/pack/git-plugins/opt/vimautoctags"]
	path = .vim/pack/git-plugins/opt/vimautoctags
	url = git@github.com:ytsuyuzaki/auto-ctags.vim.git
[submodule ".vim/pack/git-plugins/opt/vimvc"]
	path = .vim/pack/git-plugins/opt/vimvc
	url = git@github.com:juneedahamed/vc.vim.git
[submodule ".vim/pack/git-plugins/opt/spellCheck"]
	path = .vim/pack/git-plugins/opt/spellCheck
	url = https://github.com/inkarkat/vim-SpellCheck.git
[submodule ".vim/pack/git-plugins/opt/vimopenbrowser"]
	path = .vim/pack/git-plugins/opt/vimopenbrowser
	url = https://github.com/tyru/open-browser.vim.git
[submodule ".vim/pack/git-plugins/opt/vimplantumlsyntax"]
	path = .vim/pack/git-plugins/opt/vimplantumlsyntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/pack/git-plugins/opt/vimplantumlpreviewer"]
	path = .vim/pack/git-plugins/opt/vimplantumlpreviewer
	url = https://github.com/weirongxu/plantuml-previewer.vim.git
[submodule ".vim/pack/git-plugins/start/vim-colors-solarized"]
	path = .vim/pack/git-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/git-plugins/opt/vimautotag"]
	path = .vim/pack/git-plugins/opt/vimautotag
	url = https://github.com/craigemery/vim-autotag.git
